---
---

@import "{{ site.theme }}";

.tab {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,0.0);
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255,255,255,0.8);
  }

  + .tab {
    margin-left: 0rem;
  }

  @include large {
    padding: 0.8rem 0.8rem;
  }

  @include medium {
    padding: 0.6rem 0.6rem;
    font-size: 1rem;
  }

  @include small {
    display: inline-flex;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;

    + .tab {
      margin-top: 0rem;
      margin-left: 0;
    }
  }
}

.logo {
  display: inline-block;
  float: left;

  @include large {
    padding: 0rem;
  }

  @include medium {
    padding: 0rem;
  }

  @include small {
    padding: 0rem;
  }
}

.page-header-small {
  display: flow-root;
  text-align: right;
  background-color: rgb(25,116,166);

  @include large {
    padding: 0rem 6rem;
  }

  @include medium {
    padding: 0rem 4rem;
  }

  @include small {
    padding: 0rem 0rem;
  }
}
